@import url('https://fonts.googleapis.com/css2?family=Poppins:wght@300;400;600;700&display=swap');

*{
    font-family: "Poppins", sans-serif;
    margin: 0;
    box-sizing: border-box;
}

body{
    background-color: #f4f4f4;
    padding-top: 80px;
}

.aheader{
    position: fixed;
    top: 0;
    left: 0;
    width: 100%;
    background: rgb(18, 13, 22);
    height: 80px;
    display: flex;
    align-items: center;
    justify-content: center;
    z-index: 1000;
    box-shadow: 0 4px 6px rgba(0, 0, 0, 0.1);
    text-transform: uppercase;
    letter-spacing: 2px;
}

nav{
    width: 100%;
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 0 20px;
}

.titulo{
    font-size: 28px;
    color: #fff;
    font-weight: bold;
    text-align: center;
}

.nav-list{
    list-style: none;
    display: flex;
    gap: 20px;
}

.nav-list li a{
    text-decoration: none;
    color: #fff;
    font-weight: 600;
    transition: color 0.3s;
    font-size: 14px;
}

.nav-list li a:hover{
    opacity: 60%;
}

.container{
    width: 80%;
    max-width: 1000px;
    margin: auto;
    flex-direction: column;
    gap: 20px;
}

.bloco{
    background: #fff;
    padding: 20px;
    border-radius: 5px;
    box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1);
}

.bloco-2{
    background: #fff;
    padding: 20px;
    border-radius: 5px;
    box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1);
    display: flex;
    align-items: center; 
    gap: 20px;
}

h2, h3{
    color: #333;
    margin-top: 5px;
    margin-bottom: 5px;
    filter: drop-shadow(1px 2px 2px rgba(230, 230, 230, 0.3));
}

p{
    font-size: 16px;
    line-height: 1.6;
    color: #444;
    text-align: justify;
}

.exemplos{
    font-size: 18px;
    font-weight: bold;
    color: #333;
    margin: 10px ;
}

img{
    max-width: 100%;
    padding: 15px 15px 15px 15px;
    height: 180px; 
    border-radius: 5px;
    display: block;
    margin: 0 auto;
    filter: hue-rotate(165deg);
}

.explica{
    filter: saturate(0);
    height: 130px;
    margin-left: 40px;
    filter: invert();
}

section{
    margin-top: 10px;
    margin-bottom: 15px;
    scroll-margin-top: 90px;
}

.exercicios{
    filter: invert();
    height: auto;
    margin-left: 40px;
    opacity: 80%;
}

.topicos{
    list-style: none;
    padding-top: 5px;
}

p{
    padding-bottom: 5px;
}

.consertarcgd{
    color: #f4f4f4;
}

table{
    width: 80%;
    margin: 20px auto;
    border-collapse: collapse;
}

table, th, td{
    border: 1px solid black;
}

th, td{
    padding: 10px;
    text-align: center;
}

th{
    background-color: #f2f2f2;
}

td{
    background-color: #f9f9f9;
}

caption{
    margin-bottom: 10px;
    font-size: 1.4em;
    font-weight: bold;
}

tr:nth-child(even) {
    background-color: #e9e9e9;
}

.george{
    padding: 0;
    margin: 0;
    filter: hue-rotate(0);
    width: 230px;
    height: auto;
    border-radius: 20px;
    filter: drop-shadow(2px 4px 4px rgba(73, 73, 73, 0.3));;
}

#texto{
    display: inline-block;
}

.afooter{
    background-color: rgb(18, 13, 22);
    height: 50px;
    width: 100%;
    align-content: center;
}

.footer-content{
    display: flex;
    list-style: none;
    gap: 50px;
    justify-content: center;
}

footer ul li a{
    text-decoration: none;
    color: #e2e2e2;
}

footer ul li a:hover{
    opacity: 60%;
}

.copyright{
    display: flex;
    background-color: rgb(8, 6, 10);
    color: #fff;
    font-size: 14px;
    justify-content: center;
    align-content: center;
}

.subtitulo{
    margin: 0px;
    margin-bottom: 10px;
}

.biografia-text{
    flex: 1;
}

.equation span{
    font-size: 20px;
    color: #444;
}

.slider-container{
    color: #444;
}